<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>17</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net5.0</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2021-12-20T07:36:39.8807266Z;True|2021-11-27T13:24:38.8720335-08:00;True|2021-11-27T13:16:20.1081923-08:00;True|2021-11-27T13:12:16.5544797-08:00;True|2021-11-27T13:07:41.9439491-08:00;True|2021-11-27T12:55:38.4318242-08:00;False|2021-11-27T12:54:49.9012306-08:00;True|2021-11-27T12:43:16.1460798-08:00;True|2021-11-27T12:02:30.8446430-08:00;True|2021-11-27T11:59:37.7006184-08:00;False|2021-11-27T11:59:12.5261484-08:00;True|2021-11-27T11:53:58.4326946-08:00;True|2021-11-27T11:39:29.7610500-08:00;True|2021-11-27T11:36:02.0229037-08:00;True|2021-11-27T11:34:41.6055950-08:00;True|2021-11-27T11:01:07.9010791-08:00;False|2021-11-27T11:00:48.2758419-08:00;False|2021-11-27T11:00:38.0697925-08:00;True|2021-11-27T10:59:26.3460113-08:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.5.0.x64">
      <Install>true</Install>
      <ProductName>.NET Runtime 5.0.12 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>